@model TeknikServis.web.Models.UpdatePasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h2>Şifre Güncelle ( @Model.Email )</h2>

<form asp-action="UpdatePassword" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button class="btn btn-primary">Kaydet</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>
@* 
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<h2>Şifre Güncelle ( @Model.Email )</h2>

<form asp-action="UpdatePassword" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button class="btn btn-primary">Kaydet</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>
 *@