@using TeknikServis.Entities
@using TeknikServis.Entities.Auth          <!-- ekledik -->
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark"
               asp-controller="Panel" asp-action="Index">
                Merhaba @User.Identity?.Name!
            </a>
        </li>
        <li class="nav-item">
            <form asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                <button type="submit" class="nav-link btn btn-link text-dark">Çıkış</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Giriş</a>
        </li>
    }
</ul>
